html, body {
    background-color: #00acfc;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.container {
    max-width: auto;
    display: flex;
    margin: 10px 25px;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color:#000000;
    display:flex;
    text-align:center;
}
.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.tabs li {
    margin: 0 30px;
    cursor: pointer;
    font-size: 18px;
}
.tabs li:hover {
    color: #FFD700;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1900fc;
    min-width: 160px;
    z-index: 1;
    padding: 5px 0;
    left: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: #ffffff;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #00acfc;
}

.sectionbackground{
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image:url("glowing-contact-us-logo-qx58564q7a51etk6.jpg") ;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    margin-left: 0px;
    padding: 250px;
    width: 100%;
}

.section {
    color:#000000;
    border-color: aliceblue;
    background-image: url("water-366586_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 100px;
}

.sectionserviços {
    background-color: #00acfc;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    margin-left: 0px;
    padding: 170px;
    width: auto;
}

.section img {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    height: auto;
    margin-right: 20px;
    margin-left: 10px;
    align-items: center;
}
.section-text {
    font-family: Arial, sans-serif;
    max-width: 50%;
    margin-right: 10px;
}
.section-text h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
    margin: 25px;
}
.section-text p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    margin: 10px;
}
